a:hover{
	text-decoration: none;
}
blockquote{
	border-left: 5px solid #dbcfcf;
}
.marg{ margin-top: 10px;}
.margi{ margin-bottom: 30px; }
.img-circle{
	border: 5px solid #646464;
}
.red{
	color: #bf5329;;
}
.red:hover, .red:focus{
	color: #9b3006;
}
.ocean{
	color: #8eb4cb;
}
.ocean:hover, .ocean:focus{
	color: #7398ae;
}
.green{
	color: #2ab27b;
}
.green:hover, .green:focus{
	color: #198a5d;
}

.btn{
	border-radius: 0px;
}
.btn-info{
	border-bottom: 3px solid #679fc0;
}
.btn-default{
	border-bottom: 3px solid #929da3;
}
.btn-danger{
	border-bottom: 3px solid #903714;
}
.btn-success{
	border-bottom: 3px solid #0f7e50;
}
.borderv1{
	background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    height: 130px !important;
	padding: 20px;
}
.border{
	background-color: #fff;
	border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 10px;
}
.carousel-inner>.item>img{
  width:100%;
  height: 500px;
}
.border>img{
	border: 2px solid #646464;
	width: 100%;
	height: 190px;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .pe-7s-angle-left,
.carousel-control .pe-7s-angle-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .pe-7s-angle-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .pe-7s-angle-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}

@media only screen and (max-width: 600px) {
	.carousel-inner>.item>img{
  		width:100%;
  		height: 250px !important;
	}

	.border{
		height: 100% !important;
	}

	.border>img{
		width: 100%;
		height: 250px !important;
	}
}
